[Unit]
Description=Ratcam
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ratcam -mode broadcast

[Install]
WantedBy=multi-user.target
