[Unit]
Description=ratcam

[Service]
WorkingDirectory=/home/pi/go/src/ratcam-go
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/go/src/ratcam-go/ratcam-go

[Install]
WantedBy=multi-user.target

