[Unit]
Description=Ratcam
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ratcam -c /etc/ratcam.yaml -htmlpath /usr/local/lib/ratcam/index.html

[Install]
WantedBy=multi-user.target
